# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out
build
dist

# production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# cargo test snapshots
/contract_snapshots
/eventpot_contract/test_snapshots

# rust / soroban
eventpot_contract/target
eventpot_contract/Cargo.lock
*.wasm
!public/contracts/.gitkeep

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
